@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.css');

html, body {
  font-family: Tahoma, sans-serif;
}
video {
  display: none;
  object-fit: cover;
  background-color: black;
}
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#local-video {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 50vw;
  max-height: 20vh;
  border: 1px solid grey;
  border-radius: 2px;
}
@media (orientation: landscape) {
  #local-video {
    max-width: 20vw;
    max-height: 50vh;
  }
}

#remote-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.screen-rotated #remote-video {
  transform: rotateZ(90deg) translateY(-100%);
  transform-origin: top left;
}
